*{
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  color:white;
  font-family: 'Lato', sans-serif;


}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #34495E;
}

main{
  min-width: 300px;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;

}

.container-select {
  width: 100%;
  margin-top: 1rem;
}
label{
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
}
select{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.8rem;
  border-radius: .5rem;
  margin: 1rem 0;
}

.list li {
  margin: 1rem 0;
  font-size: 1.6rem;
  list-style: none;
  font-style: bold;
}

h1{
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
}

.info{
  width: 100%;
  padding: 1rem;
  background-color: #2C3E50;
  border-radius: 1rem;
  color: aliceblue;
}

button{
  margin-top: 1rem;
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 1.8rem;
  border-radius: 1rem;
  background-color: beige;
  cursor: pointer;
  transition:  opacity .3s  ;
}
button:hover{
  opacity: .8;
}

.info-console{
  width: 100%;
  background-color: rgb(179, 120, 43);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}